<%
  const d=new Date()
  const year=d.getFullYear()
%>
    <footer>
        <p>
            &copy; <%= year %>, CSE 340 App |
                <a href="/error" title="View error page">Error</a>
        </p>
    </footer>