<header id="top-header">
  <span class="siteName">
    <a href="/" title="Return to home page">CSE Motors</a>
  </span>
  <div id="tools">
    <% if (loggedin) { %>
      <!-- Show Welcome [FirstName] link -->
      <a href="/account" title="Go to your account">Welcome <%= accountData.account_firstname %></a>
      <!-- Show Logout link -->
      <a href="/account/logout" title="Click to log out">Logout</a>
    <% } else { %>
      <!-- Show My Account link only if not logged in -->
      <a href="/account/login" title="Click to log in">My Account</a>
    <% } %>
  </div>
</header>
