<h1>Welcome to CSE Motors!</h1>

<section id="hero-section">
    <ul>
        <li>
            <h2>Time Machine</h2>
        </li>
        <li>3 Cup holders</li>
        <li>Gull-wing doors</li>
        <li>Fuzzy dice!</li>
        <li>
            <button id="cta-button">Own Today</button>
        </li>
    </ul>
</section>

<div class="flex-row">
    <section id="review">
        <h2>Time Machine Reviews</h2>
        <ul>
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's livin and I love it!" (5/5)</li>
        </ul>
    </section>

    <section id="add-ons">
        <h2>Time Machine Upgrades</h2>

        <div class="flex-row">
            <a href="#" title="flux-capacitor">
                <figure>
                    <div class="card-highlight">
                        <img src="./images/upgrades/flux-cap.png" alt="Flux Capacitor" />
                    </div>
                    <figcaption>Flux Capacitor</figcaption>
                </figure>
            </a>
            <a href="#" title="flame decals">
                <figure>
                    <div class="card-highlight">
                        <img src="./images/upgrades/flame.jpg" alt="Flame Decal" />
                    </div>
                    <figcaption>Flame Decals</figcaption>
                </figure>
            </a>
        </div>

        <div class="flex-row">
            <a href="#" title="bumper stickers">
                <figure>
                    <div class="card-highlight">
                        <img src="./images/upgrades/bumper_sticker.jpg" alt="Bumper Stickers" />
                    </div>
                    <figcaption>Bumper Stickers</figcaption>
                </figure>
            </a>
            <a href="#" title="hub caps">
                <figure>
                    <div class="card-highlight">
                        <img src="./images/upgrades/hub-cap.jpg" alt="Hub Caps" />
                    </div>
                    <figcaption>Hub Caps</figcaption>
                </figure>
            </a>
        </div>
    </section>
</div>