<%# Content Heading %>
<% if (title) { %>
    <h1 class="page-title"><%= title %></h1>
<% } else { %>
    <% res.redirect('/') %>
<% } %>

<%# Inventory Grid %>
<% if (grid) { %>
    <div class="inventory-grid">
        <%- grid %>
    </div>
<% } else { %>
    <p class="notice">Sorry, no vehicles could be found for this classification.</p>
<% } %>